# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
env/
venv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code settings
.vscode/

# PyCharm
.idea/

# Environment variables
.env

myenv/
